.inc-button{
    margin-right: 58px;
    margin-left: 38px;
  }

  @media (min-width: 768px) {
    #mobile-cart-item {
      display: none !important;
    }
  }

  @media (max-width: 576px) {
    #desktop-cart-item {
      display: none !important;
    }
  }

  .cart-item {
    width: 60px;
    height: auto;
  }

  #mobile-cart-item select{
    width: 60px;
    height: auto;
  }

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #dadada !important;
}