
#shipping {
  margin-top: -5rem;
  margin-bottom: 5rem;
}


.app-features img{
  filter: invert(82%) sepia(47%) saturate(5678%) hue-rotate(126deg) brightness(108%) contrast(75%);
}

.app-features-container{
  padding: 7.5rem 2rem;
  padding-bottom: 1.5rem;
  max-width: 1850px;
  margin:auto;
}
.app-feature{
  background-color: #EDFCFA;
  border-radius: 6px;
  max-width: 400px;
  padding: 1.5rem;
}
.app-feature img {
  margin-right: 1.5rem;
}
.app-feature-title{
  font-weight: 500;
}
.app-feature:hover{
  background-color: var(--theme-color);
}
.app-feature:hover p{
  color: white;
}
.app-feature:hover img{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

@media(min-width: 1850px){
  .app-features-container{
    padding: 7.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 576px) {
  .app-feature {
    padding: 1.5rem 1rem;
  }
}