.banner {
    background-color: var(--product-bg);
    margin-bottom: 5rem;
    background-image: url('../../assets/img/Pexels-banner.png');
    background-size: cover;
    height: 700px;
    filter: blur(2.5px);
}

.banner img {
    width: 100%;
}

.banner-content {
    color: var(--secondary-color);
    position: absolute;
    transform: translateY(-150%);
    text-align: left;
}

.banner-content h1 {
    font-size: 60px;
    color: #ffffff;
}

.banner-content h1 span {
    font-weight: bold;
    display: block;
}

.banner-text {
    max-width: 465px;
    color: #ffffff;
}

@media (max-width: 990px) {

    .banner {
        background-position: right;
    }

    .banner-content {
        transform: translateY(-200%);
        text-align: center;
    }

}
@media (max-width: 768px) {
     .banner {
         margin: auto;
         text-align: center;
     }

     .banner {
        background-position: right;
    }

    .banner-content {
        transform: translateY(-175%);
        text-align: center;
    }

}

@media (max-width: 576px) {
    .banner {
        margin: auto;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 3.1rem;
    }

    .banner {
        background-position: -550px;
    }
}