.app-review {
    background-color: var(--secondary-color);
    min-height: 717px;
    padding: 2rem 0;
}

.r-text {
    color: white;
    text-align: center;
    max-width: 731px;
}

.r-thumb {
    margin-top: 46px;
    margin-bottom: 30px;
    width: 190px !important;
}

.r-quote {
    width: 100px !important;
}

.r-thumb-auth {
    font-weight: 500;
    font-size: 18px;
}

.r-thumb-desc {
    font-size: 14px;
    color: white;
    margin-bottom: 33px;
}