.app-top-sellers{
  margin-bottom: 14rem;
}
.product-container{
  height: 1200px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
  gap: 1%;
}


@media(min-width: 768px){
  
  .product-container{
    height: 500px;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 60% 60%;
    
  }
  .main-seller{
    grid-row: 1/3;
  }
}
