#sidebarMenu {
  
margin-top: 5rem;
padding: 0;
border: 1px solid;

}

#sidebarMenu .sidebar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid red !important;
    box-shadow: none !important;
    margin: auto !important;
}

#sidebarMenu .sidebar .nav-link.active {
    color: #20D3C2 !important;
}

#sidebarMenu a.nav-link:hover {
    color: #20D3C2 !important;
}




#sidebarMenu .nav-link {

    padding: 0rem !important;

}

#sidebarMenu .nav {

    padding: 0rem !important;
    margin: 0 !important;

}




